# Dub
.dub
dub.selections.json
__test__library__

# Binaries
*.a
*.lib
*.exe

# vscode
.vscode/*

# libconfig-d
grammar_gen/cfg_grammar_gen

# examples
examples/readconfig/libconfig-d_readconfig
examples/updateconfig/libconfig-d_updateconfig
examples/buildconfig/libconfig-d_buildconfig
updated.cfg
built.cfg